<% if (@user = current_user) %>
	<div class="row">
		<div class="col-md-4">
			<%= render "users/label" %>
			<%= render "posts/create_form" %>
		</div>
		<div class="col-md-8">
			<%= render "posts/for_users" %>
		</div>
	</div>
<% else %>
	<div class="jumbotron text-center mt-2">
		<h1>Welcome to the Sample App</h1>
		<h2>
			This is the home page for the
			<%= link_to  "Ruby on Rails Tutorial", "http://rubyonrails.org/" %>
			sample application.
		</h2>
		<%= link_to "Sign up now!", :signup, class: "btn btn-lg btn-primary" %>
	</div>
	<%= link_to image_tag("logo.png", alt: "Rails logo", size: "165x200"), "http://rubyonrails.org/" %>
	<div>
		user request -> (<%= request.url %>)<br>
		user come from -> (<%= request.referrer %>)
	</div>
<% end %>
