<%= form_for(:session, url: signin_path, html: {class: "signin"}) do |f| %>
	<h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
	<%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "form-control mb-3" %>
	<%= f.password_field :password, placeholder: "Password", class: "form-control mb-3" %>
	<div class="text-center mb-3">
		<%= f.check_box :remember_me %>
		<%= f.label :remember_me %>
	</div>
	<%= f.submit 'Submit', class: 'btn btn-lg btn-primary btn-block' %>
<% end %>
<!--FIX heigth-->