<div class="alert alert-dark">
	<%= form_for(@user) do |f| %>
		<div class="col-md-4 mb-3">
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control" %>
		</div>
		<div class="col-md-4 mb-3">
			<%= f.label :email %>
			<%= f.email_field :email, class: "form-control" %>
		</div>
		<div class="col-md-4 mb-3">
			<%= f.label :password %>
			<%= f.password_field :password, class: "form-control" %>
			<small class="text-muted">Must be 5-20 characters long.</small>
		</div>
		<% if (action_name == "update" || action_name == "edit") %>
			<div class="col-md-4 mb-3">
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation, class: "form-control" %>
				<small class="text-muted">Must be 5-20 characters long.</small>
			</div>
		<% end %>
		<div class="col-md-4 mb-3">
			<% color = action_name == "new" ? "dark" : "success" %>
			<%= f.submit "Submit", class: "btn btn-#{color}" %>
			<%= link_to  "Back", :root, class: "btn btn-outline-secondary" %>
		</div>
	<% end %>
</div>
