<div class="p-3 my-3 bg-white rounded shadow-sm">
	<%= link_to gravatar_for(@user, size: 50), @user %>
	<div class="d-flex justify-content-between align-items-center">
		<h4 class="font-weight-bold m-0 col-10 text-truncate px-0"><%= @user.name %></h4>
		<%= link_to "Profile", @user, class: "badge badge-primary" %>
	</div>
	<div class="d-flex justify-content-between align-items-center">
		<small class="text-muted col-9 text-truncate px-0"><%= @user.email %></small>
		<%= content_tag(:div, pluralize(@user.posts.count, "post"), class: "small text-muted") %>
	</div>
	<div>
		<%= link_to followers_user_path(@user), class: "badge badge-info", id: "followers" do %>
			Followers <%= content_tag(:span, @user.followers.count, class: "badge badge-light") %>
		<% end %>
		<%= link_to following_user_path(@user), class: "badge badge-info", id: "following" do %>
			Following <%= content_tag(:span, @user.following.count, class: "badge badge-light") %>
		<% end %>
	</div>
	<% if (current_user && !current_user?(@user)) %>
		<%= current_user.following?(@user) ? (render "relationships/unfollow_button") : (render "relationships/follow_button") %>
	<% end %>
</div>
