<h1><%= @user.name %> profile</h1>
<%= form_for(@user) do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :email %><br>
		<%= f.email_field :email %>
	</p>
		<%= f.submit 'Submit', class: 'btn btn-dark' %>
	</p>
<% end %>

<!-- FIX -->