<h1>Profile</h1>
<h3>
	<%= @user.name %>
	<%= link_to "Edit", edit_user_path, class: "btn btn-outline-info" %>
</h3>
<p><small class="text-muted"><%= @user.email %>.</small></p>
<%= link_to "Back", :root, class: "btn btn-outline-secondary" %>
<%= link_to "Delete", :root, method: :delete, class: "btn btn-outline-danger" %> <!-- CRASH -->
