<footer class="footer">
  <small>
    The <%= link_to "Believer", "#" %>
    by <%= link_to "Artem", "#" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "https://en.wikipedia.org/wiki/Ruby_on_Rails" %></li>
      <li><%= link_to "Contact", "#" %></li>
      <li><%= link_to "News", "https://www.bbc.com/news/world" %></li>
    </ul>
  </nav>
</footer>
