<footer class="footer">
  <small id="author">
    The  <b><%= link_to "Sample App", :root %></b>
    by <b><%= link_to "Artem", User.find(1) %></b>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "https://en.wikipedia.org/wiki/Ruby_on_Rails", target: "_blank" %></li>
      <li><%= link_to "Contact", :contact %></li>
      <li><%= link_to "News", "https://www.bbc.com/news/world", target: "_blank" %></li>
    </ul>
  </nav>
</footer>
