<header class="navbar navbar-expand-sm bg-dark navbar-dark">
	<div class="container">
    <%= link_to "sample app", :root, id: "logo", class: "navbar-brand" %>
    <ul class="navbar-nav">
			<% if current_user %>
				<li class="nav-item">
					<%= link_to current_user.name, user_path(session[:user_id]), class: "nav-link" %>
				</li>
				<li class="nav-item">
      	  <%= link_to  "Sign Out", :signout, class: "nav-link" %>
      	</li>
			<% else %>
      	<li class="nav-item">
        	<%= link_to  "Sign Up", :signup, class: "nav-link" %>
      	</li>
				<li class="nav-item">
      	  <%= link_to  "Sign In", :signin, class: "nav-link" %>
      	</li>
			<% end %>
		</ul>
	</div>
</header>
