<header class="navbar navbar-expand-sm bg-dark navbar-dark">
	<div class="container">
    <%= link_to "Sample App", :root, class: "h2 font-weight-bold text-decoration-none text-white m-0" %>
		<ul class="navbar-nav">
			<%= content_tag(:li, (link_to  "Home", :root, class: "nav-link"), class: "nav-item" ) %>
			<% if current_user %>
				<%= content_tag(:li, (link_to "Users", :users, class: "nav-link"), class: "nav-item") %>
				<li class="nav-item dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<%= current_user.name %>
					</button>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<%= link_to "Profile", current_user, class: "dropdown-item" %>
						<%= link_to "Edit", edit_user_path(current_user), class: "dropdown-item" %>
						<div class="dropdown-divider"></div>
						<%= link_to  "Sign Out", :signout, method: :delete, class: "dropdown-item" %>
					</div>
				</li>
			<% else %>
				<%= content_tag(:li, (link_to "Sign Up", :signup, class: "nav-link"), class: "nav-item") %>
				<%= content_tag(:li, (link_to "Sign In", :signin, class: "nav-link"), class: "nav-item") %>
			<% end %>
		</ul>
	</div>
</header>
